@import '../_global/variables';

.docs-page {

    .side-bar {
        background-color: $secondary-bg-color;
        padding-left: 50px;
        font-family: 'AvenirNextLTW01-Regular';

        h4 {
            color: $primary-font-color;
            margin-top: 40px;
        }
    }

    .sublinks {

        .sublink {
            color: $primary-font-color;
            margin-left: 20px;
            margin-bottom: 10px;

            &.active {
                color: lightgrey;
                outline: none; 
                -webkit-box-shadow: none;
                box-shadow: none; 
            }

            button {
                border: none; 
                background: none;
            }
        }
    }
}