.compare-page {
  color: white;
  .usage-section-wrapper {
    background: white;
    color: black;
    padding: 10px 20px;
    position: relative;
    border-radius: 5px;
    .usage-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .usage-title {
        font-size: 30px;
      }
    }
    .usage-section {
    }

  }


}
