@import '../_global/variables';

.compare-page {
  color: white;
  //background-color: $secondary-blue;
  .row {
    margin: 0;
  }
  .spacer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .usage-section-wrapper {
    background: white;
    color: black;
    padding: 10px 20px;
    position: relative;
    border-radius: 5px;
    .usage-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .usage-title {
        font-size: 30px;
      }
    }
    .usage-section {
    }

  }
  .spacer-middle {
    margin: 20px 0;
    height: 75px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .spacer-inner {
      width: 100px;
      border-bottom: 3px solid $accent-green;
    }
  }
  .background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    .top-dark-blue {
      background-color: $background;
      height: 550px;
      width: 100vw;
    }
    .middle-white {
      background-color: white;
      height: 400px;
      width: 100vw;
    }
    .btm-light-blue {
      background-color: $secondary-blue;
      height: 653px;
      width: 100vw;
    }
  }
  .usage-section-wrapper, .component-features {
    -webkit-box-shadow: -1px 0px 7px -1px rgba(161,158,161,1);
    -moz-box-shadow: -1px 0px 7px -1px rgba(161,158,161,1);
    box-shadow: -1px 0px 7px -1px rgba(161,158,161,1);
  }

}
