.my-apps {

    .panel-default {
        height: 130px;

         -webkit-box-shadow: 9px 10px 0px -5px rgba(85,203,61,0.83);
        -moz-box-shadow: 9px 10px 0px -5px rgba(85,203,61,0.83);
        box-shadow: 9px 10px 0px -5px rgba(85,203,61,0.83);

        .panel-body {
            padding-top: 25px;


            .app-cliable-body {

                cursor: pointer;

                .icon-my-apps{
                    font-size: 40px;
                    margin-left: 20px;
                    position: relative;
                    top: 13px;
                }

                .icon-my-apps:before {
                    content: "\e908";
                }

                .content-wrapper {

                    @media (max-width: 414px) {
                        padding-left: 15px;
                    }

                    .desc{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                
                }

            }
        }
        .trash {
            position: relative;
            width: 100%; 
    
            .trash-btn {
                position: absolute;
                right: -20px;
                bottom: -50px;
                background: transparent;
                z-index: 20;

                .icon-trash:before {
                    content: "\e906";
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}