@import '../_global/variables';

.dashboard-page {

    background-color: $primary-font-color;

    .Select-control {
        border: none; 
        border-radius: 0; 
        background: transparent !important; 
        width: 200px;
        line-height: 0;
        top: 10px;

        &:focus {
            outline: none;
        }

        .Select-value-label {
            color: $primary-font-color !important;
            font-size: 30px;
            font-family: 'AvenirNextLTW01-Regular';
        }

        .Select-input {
            background: transparent;
        }
    }

    .Select-menu-outer {
        background-color: $primary-bg-color;
        border: none;
        margin-top: 10px;
    }

    .layout-icons-wrapper{

        margin-left: 30px;
        margin-top: -15px;

        button {
            background-color: transparent;

            &:focus {
                outline: none;
            }

            span{
                color: $primary-font-color;
                font-size: 25px;
                margin-right: 20px;

                &.icon-my-apps:before {
                    content: "\e908";
                }

                &.icon-ordering:before {
                    content: "\e922";
                }
            }
        }

    }

    .breadcrumb-dashboard {
        background-color: transparent;
        color: $primary-font-color;
        margin-bottom: 30px;
        margin-top: -20px;

        li { 
            display: inline-block;
            font-size: 30px;

            .divider {
                margin-left: 5px;
                color: grey;
            }
        }

        .btn-breadcrumb-removal {
            border: none; 
            background: transparent;
            position: relative;
            bottom: 11px; 
            font-size: 11px; 

            &:focus {
                outline: none;
            }
        }
    }

    .subview-button-layout {
       margin-top: -10px;
       margin-bottom: 20px;
       margin-left: -20px;

        .subview-buttons {
            display: inline;
            margin-left: 20px;
            
            button {
                background: none;
                font-size: 20px;
                color: $primary-font-color;

                &.active {
                    box-shadow: none; 
                    color: lightgrey;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .underline {
                &.active {
                    border-top: 1px solid $primary-font-color;
                }
            }
        }
    }

    .my-apps {
        max-width: 70%;
        margin: 0 auto;

        .btn-dashboard {
            background-color: $callToActionButtons;
            color: $primary-font-color;
            font-family: 'AvenirNextLTW01-Regular';

            span {
                padding-right: 5px;
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
   
}