.login-page{
    text-align: center;
    margin-top: 60px;

    h1 {
        margin-bottom: 60px;
        text-transform: uppercase;
    }

    .btn-default{
        width: 60%;
        height: 70px;
        font-size: 30px;
    }
}