@import '../_global/variables.scss';

.modal-dialog {
    
    .modal-content {

        margin-top: 20%;

        font-family: 'AvenirNextLTW01-Regular';
         border-radius: 0;
         -webkit-box-shadow: 9px 10px 0px -5px rgba(85,203,61,0.83);
        -moz-box-shadow: 9px 10px 0px -5px rgba(85,203,61,0.83);
        box-shadow: 9px 10px 0px -5px rgba(85,203,61,0.83);
    

        .modal-body {

            .modal-title {
                font-family: 'Avenir Next LT W01 Bold';
                margin-bottom: 20px;
            }

            .delet-account {
                h3, b {
                     font-family: 'Avenir Next LT W01 Bold';
                }

                h3 {
                    text-transform: capitalize;
                }

                .text-wrapper {
                    margin-top: 10px;
                    
                    p {
                        color: #7f8ba4
                    }
                }
            }

            .contact-content {

                text-align: center;

                h4 {
                    font-family: 'Avenir Next LT W01 Bold';
                    margin-bottom: 10px;
                }

                p{
                    font-family: 'AvenirNextLTW01-Regular';
                    color: lightgrey;
                    margin-bottom: 10px;
                }

                .icon-delivery:before {
                    content: "\e923";
                }
            }

            input[type=text]{
                margin-bottom: 20px;
            }

            .btn-dashboard {
                background-color: $callToActionButtons;
                color: $primary-font-color;
                border: none;

                span {
                    padding-right: 5px;
                    font-weight: bold;
                }
            }
        }

        .modal-footer {
            border-top: none;
        }
    }
}