@import '../_global/variables.scss';

.my-account-page {
    margin-top: 60px; 

    .sub-title {
        background-color: $dashboard-secondary-bg;
        margin-top: -60px;
        height: 250px;
        text-align: center;

        p {
            font-size: 20px;
            margin-top: 70px;

            .provider-id {
                font-family: 'Avenir Next LT W01 Bold';
                color: black;
            }
        }

        .underline-accent {
            border-top: 2px solid $accent; 
            margin: 0 auto;
            margin-top: 40px;
            width: 100px;
        }
    }

}