.my-apps {
    .panel-default {
        height: 130px;
        cursor: pointer;

        .panel-heading {
            text-transform: uppercase;
        }
        .trash {
            position: relative;
            width: 100%; 
    
            .trash-btn {
                position: absolute;
                right: 0;
                bottom: -60px;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}