@import '../../_global/variables';
  .component-article {
    a {
      color: black;
      &:hover {
        color: black;
      }
    }
    display: flex;
    justify-content: flex-end;
    margin: 40px 10px 10px 0;


    .blog-preview-inner {
      max-width: 700px;
      padding-bottom: 40px;
      .article-title-wrapper {
        display: flex;
        flex-direction: column;
        height: 150px;
        .article-title {
          color: black;
          text-decoration: none;
          font-size: 50px;
          font-weight: 300;
          &:hover {

          }
        }
        .article-title-seperator {
          width: 100px;
          border-bottom: solid $accent 3px;
          padding-top: 25px;
        }
      }
      .date {
        color: $sidebar-subtext;
        display: block;
      }
      .image-wrapper {
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px 0 15px 0;
      }
      .article {
        color: $secondary-bg-color;
        line-height: 30px;
      }
      .subtitle {
        font-size: 30px;
      }
    }
  }
