.popular-articles {
  .article-link {
    padding-left: 10px;
    &:hover, &:focus {
      color: blue;
    }
  }
  a {
    color: black;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}
