@import '../../_global/variables';
.component-side-bar {
   a { color: white;}
   color: white;
   background:$secondary-bg-color;
   padding-left: 40px;
   padding-top: 50px;
   .seperator{
     border-bottom: solid $primary-bg-color 1px;
     display: inline-block;
     padding-bottom: 40px;
     width: 250px;
   }
   .search {
     width: 200px;
   }
}
