@font-face {
  font-family: 'icomoon';
  src:  url('../../../assets/icons/icomoon.eot?dm6gu5');
  src:  url('../../../assets/icons/icomoon.eot?dm6gu5#iefix') format('embedded-opentype'),
    url('../../../assets/icons/icomoon.ttf?dm6gu5') format('truetype'),
    url('../../../assets/icons/icomoon.woff?dm6gu5') format('woff'),
    url('../../../assets/icons/icomoon.svg?dm6gu5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}