@import '../../_global/variables';
.component-features {
  background-color: white;
  border-radius: 5px;
  color: $font-dark;
  padding: 20px 20px;
  .features-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;
    .features-icon {
      padding-right: 10px;
    }
    .features-title {
      font-size: 30px;
    }
  }
  .checkbox-label {
    font-weight: normal;
  }
  .icon-features:before {
    font-size: 45px;
  }
}
