.home-page {
  .extras {

  }
  .extras-left {

  }
  .extras-right {

  }
  .link-to-features, .sign-in-header,.look-familiar,.extras-header,.sign-in-option-wrapper{
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-to-features {
    border-bottom: solid black 1px;
  }

  .sign-in-option-wrapper {
    .sign-in-option {
      border: solid black 1px;
      padding: 25px 50px;
    }
  }
  footer {
    height: 50px;
  }
}
