@import '../_global/variables';

.component-home-page {
  color: $font-color;
  background-color: $background;
  .icon-globally:before {
    content: "\e924";
  }
}

@media (max-width: 700px) {
  .component-header  {
    flex-direction: column;
    .data-animation {
      .data-img {
        max-width: auto;
        height: 200px;
        display: block;
      }
    }
  }
  .component-pub-sub .codesnip-wrapper {
    padding: 0 10px;
  }
  .component-look-familiar {
    background-size: auto!important;
  }
}
