@import '../_global/variables';

.pricing-page {

    background-color: $primary-bg-color;
    margin-top: -20px;

    .tag-line {
        color: $primary-font-color;
        font-family: 'AvenirNextLTW01-Regular';
        text-align: center;
        margin: 100px 0;
    }

    .underline-accent {
        border-top: 2px solid $accent;
    }

    .plans-wrapper {

        .panel-default {
            min-height: 250px;
            margin-right: 20px; 
            -webkit-box-shadow: none;
            box-shadow: none;
            width: 100%;

            .panel-heading {

                text-transform: capitalize;
                text-align: center;
                border-color: white; 
                background-color: white;

                .price-plan {
                    font-family: 'AvenirNextLTW01-Regular';
                    font-size: 20px;
                    margin-top: -20px;
                }

                .icon-free:before {
                    content: "\e904";
                }

                .icon-paid:before {
                    content: "\e902";
                }

                .icon-standalone:before {
                    content: "\e901";
                }
            }

            .panel-body {
                font-family: 'AvenirNextLTW01-Regular';
                ul {
                    padding-left: 30px;
                }
            }
        }

    }

    .comparing {
        height: 200px;
        font-family: 'AvenirNextLTW01-Regular';
        text-align: center;

        p{
            color: $primary-font-color;
            font-size: 30px;
            padding-top: 100px;

            span {

                a {
                    color: #ec0064;
                    border-bottom : 1px solid #ec0064;

                    &:hover, &:focus {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .faq {
        text-align: center;
        font-family: 'AvenirNextLTW01-Regular';
        margin: 40px 0;

        .icon-faqs:before {
            content: "\e900";
        }

        h4 {
            margin-top: -15px;
        }
    }

    #faq-accordion {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 100px;

        .panel-default {

            -webkit-box-shadow: none;
            box-shadow: none;

            .panel-heading {
                background-color: transparent;
                border-bottom: none;

                .panel-title{
                    font-size: 13px;

                    .toggle-icon{
                        font-size: 20px;
                        font-weight: bold;
                    }

                    a {
                        &:hover, &:focus {
                            text-decoration: none;
                        }
                    }
                }
            }

        }
    }

}