@import '../variables';

.component-code-snippet-section {
  color: $font-dark;
  padding-bottom: 75px;

  pre[class*="language-"] {
    padding: 3em;
  }

  .codesnip-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    .code-snip {
      padding-top: 50px;
      width: 100%;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;
      .title-wrapper {
        position: relative;
        text-align: center;
        padding-bottom: 20px;
          .title {
            font-size: 24px;
            letter-spacing: 1px;
          }
          .title-underline {
            display: inline-block;
            width: 60px;
            border-bottom: solid $accent-green 3px;
          }
      }
    }
  }

  @media (max-width: 767px) {

  }
}
