@import '../variables';

.page-footer {
        background-color: $primary-bg-color; 
        color: $primary-font-color;
        height: 30vh;
        position: relative;

        .dashboard-footer-child {

            text-align: center;

            p {
                font-family: 'AvenirNextLTW01-Regular';
                font-size: 20px;
                margin-top: 50px;
                margin-bottom: 30px;
            }

            .btn-dashboard {
                color: $primary-font-color;
                background-color: $callToActionButtons;
            }
        }

        .call-to-action-sign-up {
            text-align: center;
            padding-top: 30px;
            font-size: 20px;

            span {
                color: $accent;
            }
        }

        #firebaseui_container {

            margin: 25px 0;

            @media (max-width: 414px) {
                margin-top: -20px;
            }

            .firebaseui-container {
                max-width: none;
                width: 100%;
                text-align: center;

                .firebaseui-idp-list {
                    padding: 0;

                    .firebaseui-list-item {
                        display: inline;
                        margin-left: 20px;
                    }
                }
            }
        }

        .copy-right {
            padding-left: 30px;
            margin-top: 30px;
            position: absolute;
            bottom: 0;
        }
    }