@import '../variables.scss';

.header {
  position: relative;
  z-index: 2;
  .navbar {
        background-color: $primary-bg-color !important;
        border: 0;
        border-radius: 0;

     li {

        &.open {
            a {
                background-color: $primary-bg-color;

                &:focus, &:hover {
                    background-color: $primary-bg-color;
                }
            }

            .dropdown-menu {
                padding: 0;
            }

        }
         a {
             color: $primary-font-color !important;

             &.btn-dashboard {
                    height: 20px;
                    background-color: $callToActionButtons;
                    padding-top: 15px;
                    border: none;
                    line-height: 0;
                    margin-top: 9px;

                    &:hover, &:focus {

                        background-color: $callToActionButtons;
                    }

                    .icon-my-apps {
                        line-height: 0 !important;
                        padding-right: 10px;
                    }

                    .icon-my-apps:before {
                        content: "\e908";
                    }
             }
         }
     }
  }
}
