@import '../variables.scss';

.header {
  position: relative;
  z-index: 2;
  .navbar {
        background-color: $primary-bg-color !important;
        border: 0;
        border-radius: 0;

     li {

        &.open {
            a {
                background-color: $primary-bg-color;

                &:focus {
                    background-color: $primary-bg-color;
                }
            }

            .dropdown-menu {
                padding: 0;
            }

        }
         a {
             color: $primary-font-color !important;
         }
     }
  }
}
