@import '../variables';

.secondary-background {
    background-color: $secondary-bg-color;
    color: white;
    margin-top: -21px;

    .subtitle {
        font-family: 'AvenirNextLTW01-Regular';
        font-size: 22px;
        padding: 13px 0;
        margin-left: 15px;
    }
}