@import '../../../../node_modules/bootstrap/dist/css/bootstrap.css';

@import '../../../../node_modules/react-select/dist/react-select.css';
@import '../../../../node_modules/react-virtualized/styles.css';
@import '../../../../node_modules/react-virtualized-select/styles.css';

@import '../ui/ActionButton';
@import '../ui/ReactTable';
@import '../variables';
.default-template {
  background: $background;
  font-family: $recv-font;
  .container-fluid {
    padding: 0;
  }
  /*
  include global styles here
   */

}
