$primary-bg-color: #131d2d;
$secondary-bg-color: #223047;
$primary-bg-color-hover-state: rgba(19, 29, 45, 0.5);
$callToActionButtons: #ba0757;
$accent: #55cb3d;
$primary-font-color: #fff;
$action-purple:rgb(236, 0, 100);
$accent-green: rgb(85,203, 61);
$background: rgb(19,29,45);
$font-color: white;

$recv-font: 'Avenir Next', 'sans-serif';
$secondary-blue: rgb(34,48,71);
$font-dark: black;
