$primary-bg-color: #131d2d;
$secondary-bg-color: #223047;
$primary-bg-color-hover-state: rgba(19, 29, 45, 0.5);
$callToActionButtons: #ba0757;
$accent: #55cb3d;
$primary-font-color: #fff;


$sidebar-subtext: rgb(151,164,190)
