@import '../../_global/variables';
.component-footer {
  position: relative;
  height: 200px;
  padding-top: 25px;
  .sign-in-header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .question-mark {
      color: $accent-green;
    }
  }
  .sign-in-option-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    .sign-in-option-wrapper {
      margin: 0 20px;
      .sign-in-option-icon {
      }
      .sign-in-option {
        background: $action-purple;
        padding: 2px;
        border-radius: 5px;
      }
    }
  }
  .copy-right {
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 25%;
    font-size: 14px;
  }
  a {
    color: $font-color;
    text-decoration: none;
  }
}
