@import '../../_global/variables';
.component-header {
    height: 450px;
    display: flex;
    justify-content: center;
    .tagline {
      height: 100%;
      min-width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      .tagline-inner {
        ul {
          margin: 0;
          padding: 12px;
        }
        .tagline-text {
          display: inline-block;
          font-size: 30px;
          font-weight: 300;
          line-height: 36px;
          margin-bottom: 10px;
        }
      }

    }
    .data-animation {
      height: 100%;
      min-width: 400px;
    }
  }



@media (max-width: 700px) {
  .component-header  {
    flex-direction: column;
  }
}
