@import '../../_global/variables';
.component-header {
  .info-data {
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
    height: 400px;
    .tagline {
      ul {
        margin: 0;
        padding: 12px;
      }
      .tagline-text {
        display: inline-block;
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 10px;
      }
    }
    .data-animation {
      border: solid white 1px;
      height: 100%;
    }
  }
  .code-sample {
    height: 400px;
    background: white;
  }
}
@media (max-width: 700px) {
  .info-data {
    flex-direction: column;
    background: red;
  }
  .data-animation {
    height: 60%!important;
  }
}
