@import '../../_global/variables';
.component-hero {
  height: 630px;
  display: flex;
  justify-content: center;

  .buttons {
    .btn {
      margin-left: 10px;
      margin-right: 10px;
      &.learn-more {
        background-color: $secondary-bg-color;
      }
      &.launch {
        background-color: $callToActionButtons;
      }
      color: $primary-font-color;
    }
  }
  .tagline {
    max-width: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    .tagline-inner {
      margin: 0 30px;
      ul {
        margin: 0;
        padding: 12px;
        li {
          padding-bottom: 10px;
          font-size: 15px;
        }
      }
      .tagline-text {
        display: inline-block;
        font-size: 40px;
        font-weight: normal;
        line-height: 45px;
        margin-bottom: 25px;
      }
      @media (max-width: 767px) {
        .tagline-text {
          font-size: 2em;
        }
      }
    }

  }
  .data-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    .data-img {
      max-width: 90%;
      height: auto;
      display: block;
    }
  }

  @media (max-width: 767px) {
    display: block;
    padding-top: 90px;
    padding-bottom: 50px;
    height: 100%;
    .data-animation {
      display: none;
    }
    .buttons {
      text-align: center;
    }
  }
}
