@import '../../_global/variables';
.component-look-familiar {
  background: $secondary-bg-color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  .look-familiar {
    padding-bottom: 20px;
    h3 {
      font-size: 40px;
      @media (max-width: 767px) {
        font-size: 2em;
      }
    }
    div {
      font-size: 25px;
      @media (max-width: 767px) {
        font-size: 1em;
      }
    }
    .socket {
      font-family: AvenirNextLTW01-Italic, sans-serif;
      @media (max-width: 767px) {
        font-size: 1em;
      }
    }
    img {
      height: 23px;
      margin-top: -10px;
      padding-left: 3px;
      @media (max-width: 767px) {
        height: 1em;
        display: block;
        margin-top: 10px;
        padding: 0;
        text-align: center;
        margin: 10px auto;
      }
    }
    .title-wrapper {
      position: relative;
      text-align: center;
      .title {
        font-size: 24px;
        letter-spacing: 1px;
      }
      .title-underline {
        display: inline-block;
        width: 60px;
        border-bottom: solid $accent-green 3px;
      }
    }
  }
}
