@import '../../_global/variables';
.component-with-some-extras {
    height: 600px;
    background: white;
    margin-bottom: 0px;
    .extras-header,.extras {
      background: white;
      color: black;
    }
    .extras-header {
      text-align: center;
      padding-top: 75px;
      padding-bottom: 25px;
    }
    .extras {
      margin: 0 auto;
      max-width: 900px;
      padding-bottom: 15px;
    }
  }
