@import '../../_global/variables';
.component-with-some-extras {
    background: white;
    padding: 25px 0 50px 0;

    .extras-header,.extras {
      background: white;
      color: black;
    }
    .extras-header {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 40px;
      .extras-text {
        font-size: 30px;
      }
    }
    .extras {
      margin: 0 auto;
      max-width: 900px;
      padding-bottom: 15px;
    }

  }
