@import '../../../_global/variables';
.component-email-subscribe {
  .email-subscribe-title {
    font-weight: 300;
  }
  .subscribe-input {
    width: 200px;;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    color: $sidebar-subtext;
    background-color: $primary-bg-color;
    border: none;
  }
  ::-webkit-input-placeholder {
   font-style: italic;
   color: $sidebar-subtext;
  }
  :-moz-placeholder {
     font-style: italic;
     color: $sidebar-subtext;
  }
  ::-moz-placeholder {
     font-style: italic;
     color: $sidebar-subtext;
  }
  :-ms-input-placeholder {
     font-style: italic;
     color: $sidebar-subtext;
  }
}
