@import '../../../_global/variables';
.component-popular-articles {
  .article-section-title {
    font-weight: normal;
    padding-bottom: 25px;

  }
  .article-link {
    padding-bottom: 20px;
    &:hover, &:focus {
      color: white;
    }
    .article-title, .article-date {
      display: inline-block;
      font-weight: normal;
      font-size: 14px;
    }
    .article-title {
      padding-bottom: 5px;
    }
    .article-date {
      color: $sidebar-subtext;
    }
  }
  .seperator-articles {
    border-bottom: solid $primary-bg-color 1px;
    width: 250px;
    padding-bottom: 40px;
  }
}
